<configuration>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <file>/Users/hikoharu/Dev/old_log/arbitrageLog.log</file> -->
		<file>/home/hikoharu06/arbitrage/arbitrageLog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>arbitrageLog.%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- keep 30 days worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

</configuration>