dbHost=
dbUser=
dbPass=
sqLiteFilePath=
dealAmount=0.1
dealDifference=200
keepBalanceDifference=600
dealOrderMargin=3
dealStopperAmount=2
canExecute=true
coinCheckAccessKey=
coinCheckSecretAccessKey=
zaifAccessKey=
zaifSecretAccessKey=
bitBankAccessKey=
bitBankSecretAccessKey=
quoineAccessKey=
quoineSecretAccessKey=
bitFlyerAccessKey=
bitFlyerSecretAccessKey=
#BTC_JPY,ETH_BTC コインチェックは未対応
pair=BTC_JPY
coinCheckDealFee=0
zaifDealFee=0
bitBankDealFee=0.001
quoineDealFee=0
bitflyerDealFee=0.0015
#ETH_BTCで動かすときはこちら
#pair=ETH_BTC
#coinCheckDealFee=0
#zaifDealFee=0.001
#bitBankDealFee=0.0005
#quoineDealFee=0
#bitflyerDealFee=0.002
